
body {
    margin: 0;
    min-height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.wrapper {
    width: 86%;
    height: 100%;
    justify-content: center;
    margin: 0;
    margin-right: 0;
    margin-left: 7%;
    align-items: center;
}

header{
    height: 140px;
    position: sticky;
    top: 0;
    background-color: #ffffff;;
    z-index: 7;
    box-shadow: 0 0.2px 15px 0  rgba(190, 190, 192, 0.856);
}
.header-top{
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.header-top-border{
    border-bottom: 1px solid #B0BFC7;
}
.header-top-left{
    width: 400px;
    display: flex;
    align-content: center;
    align-self: center;
}
.header-top-left>a{
    display: flex;
    align-items: center;
    margin-right: 35px;
}
.header-top-left>img{
    margin-right: 30px;
}
.header-top-left>p{
    margin-right: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}
a.head-left{
    margin-right: 8px;
    color: #2e384d;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    font-family: Roboto-Bold;
}
.head-left-2{
    margin-right: 8px;
    color: #2e384d;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    font-family: Roboto-Bold;
}
.header-top-right{
    display: flex;
    align-content: center;
    align-self: center;
}
.electron {
    font-size: 16;
    font-weight: 600;
    line-height: 1.5;
    color: #2e384d;
}

ul {
    list-style-type: none;
}

ul.head-top {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.head-top>li>a {
    color: #2e384d;
}

.call {
    width: 51px;
    height: 24px;
    margin-top: 10px;
}

ul.navigation {
    width: 61%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul.navigation>li>a {
    color: #2e384d;
    font-size: 14px;
    font-family: Roboto-Regular;
}

ul.navigation>li>a:hover {
    color: #6ebb20;
}

.section1 {
    height: 340px;
    background-image: radial-gradient(circle at 90% 0px, rgb(110, 187, 32), rgb(18, 148, 80));
    margin-bottom: 40px;
}

.green {
    height: 294px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-left: 35px;
}

.text-green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.text-green h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    color: white;
    margin: 0;
}

a {
    box-sizing: border-box;
    text-decoration: none;
}
.nav-left>li>a{
    color: #787E8C;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.71;
    font-family: Roboto-Regular;
}
.bottom-navigation{
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 16px 0 rgba(191, 197, 210, 0.3);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.navigation-details{
    width: 100%;
    height: 80px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.nav-left{
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.nav-left>li{
    width: auto;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 22px;
    transition: 0.4s;
    border-bottom: 4px solid #6ebb20;
}
ul.nav-left>li:last-child{
    border-bottom: 4px solid white !important;
    transition: 0.4s;
}
ul.nav-left>li:last-child:hover{
    border-bottom: 4px solid #6ebb20 !important;
}
.nav-right{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.nav-right>li{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
select.city{
    width: 235px;
    height: 56px;
    margin-right: 15px;
    border-radius: 4px;
    border: 1px solid #e6ebed;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color:#97A1B3
}
option.city{
    height: 56px;
    color: #2e384d;
}
.map-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #2e384d;
    margin-left: 15px;
    font-family: Roboto-Regular;
}
.city-map{
    display: flex;
    justify-content: space-between;
}
button.switch{
    margin: 0 15px;
    z-index: 5;
    border: hidden;
    background-color: transparent;
    padding: 0;

}
div.elips{
    position: relative;
    width: 48px;
    height: 20px;
    border-radius: 25px;
    background-color: #e6ebed;
    cursor: pointer;
}
div.circle{
    width: 28px;
    height: 28px;
    background-color: #6ebb20;
    border-radius: 50%;
    position: absolute;
    content: "";
    bottom: -4px;
    z-index: 4;
    cursor: pointer;
    transition: all 0.5s;
}
.switch:hover .circle{
    right: 0;
    bottom: -4px;
    z-index: 4;
    background-color: #e6ebed;
}
.switch:hover .elips{
    background-color: #6ebb20;
}
ul.adress-list{
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
li.all-day{
    background-color: #f8fafb;
    
}
ul.adress-list>li{
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    width: 336px;
    margin-right: 50px;
    padding: 26px 32px;
    box-sizing: border-box;
    padding-top: 0;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    position: relative;
}
.title>h3{
    font-size: 20px;
    line-height: 1.75;
    color: #4aa949;
    margin-right: 15px;
    margin-bottom: 0;
    font-family: Roboto-Regular;
}

li.all-day p{
    font-size: 14px;
    line-height: 1.71;
    color: #15334a;
    margin: 0;
    font-family: Roboto-Regular;
}
.adress-list li>p{
    font-size: 14px;
    line-height: 1.71;
    color: #15334a;
    margin: 0;
    font-family: Roboto-Regular;

}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color:#AABBC7;
    padding-top: 22px;
    font-size: 25px;
}
a.link{
    color:darkgrey;
    text-decoration: underline;
    font-family: Roboto-Regular;
}
a.link:hover{
    text-decoration: none;
}
.picture{
    width: 42px;
    left: 267px;
    position: absolute;

}
button.online-chat{
    position: fixed;
    bottom: 45px;
    right: 45px;
    content: "";
    width: 60px;
    height: 60px;
    padding-top: 10px;
    border: hidden;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    text-align: center;
    background-color: #6ebb20;
    margin: 0;
    padding: 0;
    z-index: 100;
}

footer {
    position: relative;
    background-color: #F8FAFB;
    margin-top: 60px;
    padding-top: 30px;
}

.footer-section1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebed;
}

.footer-call {
    width: 76px;
    height: 36px;
    margin-bottom: 30px;
}

.footer-logo {
    width: 168px;
    height: 35px;
    margin-bottom: 30px;
}

ul.footer-contact {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    height: 310px;
}

ul.footer-contact>li>a {
    opacity: 0.6;
    font-size: 14px;
    line-height: 2.14;
    color: #15334a;
    font-family: Roboto-Regular;
}

ul.footer-contact>li>p {
    opacity: 0.6;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.14;
    color: #15334a;
}

ul.footer-contact>li>h3 {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #15334a;
}

ul.footer-contact>li>h3>a {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #15334a;
}

ul.footer-contact>li>p>a {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #15334a;
}

ul.footer-contact>li {
    width: 180px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul.footer-contact li a:hover {
    opacity: 1;
}

ul.footer-contact li h3:hover {
    opacity: 1;
}

ul.footer-contact li p:hover {
    opacity: 1;
}

.full-store-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer-store-links {
    width: 390px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-store-links>a>img {
    display: flex;
    align-self: center;
}

.footer-store-links>a {
    width: auto;
    height: auto;
}

.info-az {
    width: 99px;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.app-store {
    width: 120px;
    height: 40px;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.google-play {
    width: 135px;
    height: 40px;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.footer-store-links>a>img:hover {
    opacity: 1;
}

.footer-end {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
    margin-top: 35px;
    border-top: 1px solid #e6ebed;
}

.footer-end-left {
    width: 486px;
    height: 60px;
    margin: 0;
    color: #15334a;
    opacity: 0.4;
    font-size: 16px;
    line-height: 1.63;
}

.footer-end-left>p {
    margin: 0;
    font-family: Roboto-Regular;
}

.footer-end-right {
    margin-top: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 230px;
    height: 60px;
    margin: 0;
    padding-left: 0;
}

.social>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social>li>a>i {
    width: 60px;
    height: 58px;
    color: #15334a;
    opacity: 0.6;
    text-align: center;
    font-size: 33px;
}

.social>li>a>i:hover {
    opacity: 1;
}
@font-face{
    font-family: "Roboto-Regular";
    src: url(../font/Roboto-Regular.woff2);
}
@font-face{
    font-family: "Roboto-Bold";
    src: url(../font/Roboto-Bold.woff2);
}
p, a{
    font-family: Roboto-Bold;
}
h1, h2, h3, h4{
    font-family: Roboto-Regular;
}

